* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
}

.container {
    width: 100%;
    max-width: 1160px;
    padding: 0 7px;
    margin: 0 auto;
}

.header {
    padding-top: 30px;
    padding-bottom: 24px;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.header-logo span {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    color: rgba(10, 20, 58, 1);
}

.btn {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
    color: rgba(10, 20, 58, 1);
}

.btn-primary {
    background-color: rgba(37, 110, 235, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 10px;
}

.header-burger {
    width: 30px;
    height: 15px;
    display: none;
}

@media (max-width:1200px) {
    .container {
        max-width: 930px;
    }
}

@media (max-width:991px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width:786px) {
    .container {
        max-width: 100%;
    }

    .header-controls {
        display: none;
    }

    .header-burger img {
        display: block;
    }
}